venv
venv/*
!.empty
.ipynb_checkpoints/
.ipynb_checkpoints/*
.idea/
.idea/*
notebook/modelling/.ipynb_checkpoints/
notebook/modelling/.ipynb_checkpoints/*
stanford_corenlp_library/
stanford_corenlp_library/*
e2e-coref
e2e-coref/*
!e2e-coref/sota_e2e_coref_testing_guru.ipynb
__pycache__
__pycache__/
__pycache__/*
ec2init.sh
