{% extends 'base.html' %}
{% load static %}

{% block title %}FYP Relation Extraction{% endblock %}

{% block content %}
<ol class="breadcrumb my-4">
  <li class="breadcrumb-item active">Perform Relation Extraction</li>
</ol>

<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Welcome
            </div>
            <div class="card-body">
                Welcome to the Relation Extraction system! Please refer to the <a href="/help">help</a> page for instructions.
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Upload Relation Support Dataset CSV
            </div>
            <div class="card-body">
                <div id="rel_sup_dataset_info">
                {% for x in rel_sup_datasets %}
                    <p id="sup_relations_p">Dataset {{ x.i }} -  Supported Relations: {{ x.sup_relations }},            {{ x.nk_stat }}</p>
                    <button value="{{ x.i }}" class="rel_sup_deletor btn btn-danger">Delete</button>
                    <button value="{{ x.i }}" class="rel_sup_downloader btn btn-primary">Download</button>
                {% endfor %}
                </div>
                <br/>
                <form method="post" id="rel_sup_csv_form">
                    {% csrf_token %}
                    {% include 'form_template.html' with form=rel_sup_csv_form %}
                    <button type="submit" class="btn btn-success">Upload</button>
                </form>
                <br/>
                <p>
                    Columns expected in the relation support dataset CSV are 'sentence', 'head', 'tail' and 'reldescription'. You can download an example relation support dataset from the Help page.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Run Analysis
                <div class="spinner-border float-right analysis_status_spinner" role="status" ></div>
            </div>
            <div class="card-body">
                <p id="analysis_status_indicator">Analysis Status: Not Running</p>

                <label class="mt-3" for="ckpt_selector">Choose model checkpoint: </label>
                <select id="ckpt_selector">
                    {% for i in ckpts %}
                        <option value="{{ i }}"> {{ i }} </option>
                    {% endfor %}
                </select>
                <br/>
                <label for="query_datset_type_selection">Select Query Dataset Type: </label>
                <div class="btn-group btn-group-toggle" data-toggle="buttons" id="query_datset_type_selection">
                  <label class="btn btn-secondary active">
                    <input type="radio" name="options" value="csv_option" id="csv_option" autocomplete="off" checked> CSV
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="options" value="txt_option" id="txt_option" autocomplete="off"> Text Files
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="options" value="url_option" id="url_option" autocomplete="off"> News Article URL
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="options" value="ind_sentence_option" id="ind_sentence_option" autocomplete="off"> Individual Sentence
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="options" value="html_option" id="html_option" autocomplete="off"> HTML Files
                  </label>
                </div>
                
                <br/>
                
                <form method="post" id="query_csv_form">
                    {% csrf_token %}
                    {% include 'form_template.html' with form=queries_csv_form %}
                    <button type="submit" class="btn btn-primary">Do Analysis</button>
                </form>
                
                <form method="post" id="text_file_form">
                    {% csrf_token %}
                    {% include 'form_template.html' with form=text_file_form %}
                    <button type="submit" class="btn btn-primary">Do Analysis</button>
                </form>
                
                <form method="post" id="news_article_form">
                    {% csrf_token %}
                    {% include 'form_template.html' with form=article_url_form %}
                    <button type="submit" class="btn btn-primary">Do Analysis</button>
                </form>
                
                <form method="post" id="ind_sent_form">
                    {% csrf_token %}
                    {% include 'form_template.html' with form=ind_sent_form %}
                    <button type="submit" class="btn btn-primary">Do Analysis</button>
                </form>
                <form method="post" id="html_files_form">
                    {% csrf_token %}
                    {% include 'form_template.html' with form=html_files_form %}
                    <button type="submit" class="btn btn-primary">Do Analysis</button>
                </form>
                <button id="cancel_analysis_button" class="btn btn-danger mt-3">Cancel Analysis</button>
                <br/>
                <br/>
                <p>
                    If the queries are uploaded in a CSV, the columns expected are 'sentence', 'head' and 'tail'. 'head' and 'tail' are optional, if you do not want to mention the head and tail the column names should not be included either. You can download sample queries from the help page.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Analysis Results
                <button class="btn btn-secondary ml-3" id="download_results_csv">Download as CSV</button>
                <div class="spinner-border float-right analysis_status_spinner" role="status" ></div>
            </div>
            <div class="card-body">
                <table class="table", id="results_table_overall">
                    <thead class="thead-inverse">
                        <tr>
                        <th>Sentence</th>
                        <th>Head</th>
                        <th>Tail</th>
                        <th>Predicted Relation</th>
                        <th>Predicted Sentiment</th>
                        <th>Confidence</th>
                        <th>Dataset</th>
                        </tr>
                    </thead>
                    <tbody id="result_table">
                        {% for i in data %}
                            <tr>
                                <td>{{ i.sentence }}</td>
                                <td>{{ i.head }}</td>
                                <td>{{ i.tail }}</td>
                                <td>{{ i.pred_relation }}</td>
                                <td>{{ i.pred_sentiment }}</td>
                                <td>{{ i.conf|stringformat:"i"|add:"%" }}</td>
                                <td>{{ i.dataset }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Errors During Analysis
            </div>
            <div class="card-body" id="errors_div">
                <p id="error_here_yet" class="text-muted"> Nothing here yet </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block javascript %}
<script src="{% static 'scripts/home_main.js' %}"></script>
{% endblock %}