{% extends 'base.html' %}
{% load static %}

{% block title %}Web App FYP Relation Extraction{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Current Datasets
            </div>
            <div class="card-body">
                
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Upload Relation Support Dataset CSV
            </div>
            <div class="card-body">
                
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Upload CSV Datasets
            </div>
            <div class="card-body">
                <form method="post" id="rel_ex_files_form">
                    {% csrf_token %}
                    {% include 'form_template.html' %}
                    <button type="submit" class="btn btn-success">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Upload Text File
            </div>
            <div class="card-body">
                <form method="post" id="rel_ex_files_form">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Parse Newspaper Article
            </div>
            <div class="card-body">
                <form method="post" id="rel_ex_files_form">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Parse</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Run Analysis
            </div>
            <div class="card-body">
                <p id="analysis_status_indicator">Analysis Status: Not Running</p>
                <label for="ckpt_selector">Choose model checkpoint: </label>
                <select id="ckpt_selector">
                    {% for i in ckpts %}
                        <option value="{{ i }}"> {{ i }} </option>
                    {% endfor %}
                </select>
                <br/>
                <button id="do_analysis_button" class="btn btn-primary">Do Analysis</button>
                <button id="cancel_analysis_button" class="btn btn-danger">Cancel Analysis</button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Analysis Results
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                        <th>Sentence</th>
                        <th>Head</th>
                        <th>Tail</th>
                        <th>Predicted Relation</th>
                        </tr>
                    </thead>
                    <tbody id="result_table">
                        {% for i in data %}
                            <tr>
                                <td>{{ i.sentence }}</td>
                                <td>{{ i.head }}</td>
                                <td>{{ i.tail }}</td>
                                <td>{{ i.pred_relation }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Errors During Analysis
            </div>
            <div class="card-body" id="errors_div">
                <p id="error_here_yet" class="text-muted"> Nothing here yet </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block javascript %}
<script src="{% static 'scripts/home_main.js' %}"></script>
{% endblock %}