{% extends 'base.html' %}
{% load static %}

{% block title %}FYP: SNA and Viz{% endblock %}

{% block content %}
<ol class="breadcrumb my-4">
  <li class="breadcrumb-item active">Perform SNA and view Visualizations</li>
</ol>

<h3>Node-Link Graph of all Entities and Relationships</h3>
<div id="node_link_viz">
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'scripts/sna_viz_main.js' %}"></script>
<script>
    $(function(){
      $("#node_link_viz").load("{% static 'node_link_viz.html' %}"); 
    });
</script>
{% endblock %}