{% extends 'base.html' %}
{% load static %}

{% block title %}FYP: SNA and Viz{% endblock %}

{% block content %}
<ol class="breadcrumb my-4">
  <li class="breadcrumb-item active">Perform SNA and view Visualizations</li>
</ol>

<h3>Node-Link Graph of all Entities and Relationships</h3>
<button id="gen_node_link_graph" class="btn btn-primary">Generate Graph</button>
</br>
<div id="node_link_viz">
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'scripts/sna_viz_main.js' %}"></script>
{% endblock %}